<div id="content">
  <button
    hx-get="/tasks/create/"
    hx-trigger="click"
    hx-swap="outerHTML"
    class="pure-button pure-button-primary"
    style="margin-bottom: 20px"
  >
    Create Task
  </button>

  {% if tasks %}
  <table
    class="pure-table pure-table-striped pure-table-horizontal"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr id="task-{{ task.id }}">
        <td>{{ task.name }}</td>
        <td><small>{{ task.date }}</small></td>
        <td>
          <button
            hx-delete="{% url 'delete_task' task.id %}"
            hx-trigger="click"
            hx-target="#task-{{ task.id }}"
            class="pure-button"
            style="background: rgb(202, 60, 60); color: white; float: right"
          >
            Delete
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>There are no tasks yet :(</p>
  {% endif %}
</div>
