<div id="content">
  <button
    hx-get="/tasks/create/"
    hx-trigger="click"
    hx-swap="outerHTML"
    class="pure-button pure-button-primary"
    style="margin-bottom: 20px"
  >
    Create Task
  </button>

  {% if tasks %}
  <table class="pure-table pure-table-horizontal" style="width: 100%">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}

      {% include 'tasks/task_partial.html' %}

      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>There are no tasks yet!</p>
  {% endif %}
</div>
